__pycache__/
*.pyc
*.pyo
*.db
*.presup
*.sqlite3
*.sqlite
venv/
.venv/
env/
*.egg-info/
dist/
build/
*.spec
.DS_Store
Thumbs.db
*.lnk
TEMP_*
Ejemplos/
Conversor de opus/D60JALISCOT.sqlite
Conversor de opus/presupuesto.html
M1.pdf
/callgraph/
